<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1 class="page-title">Movies</h1>

<table>
  <thead>
    <tr>
      <th class = "<%= highlight_column('title', :header) %>">
        <%= link_to 'Title', movies_path(sort: 'title', direction: toggle_sort_direction('title')), data: { turbo: false } %>
        <% if session[:sort] == 'title' %>
        <span class="visually-hidden">
          <%= session[:direction] == 'asc' ? ' sorted ascending' : ' sorted descending' %>
        </span>
      <% end %>
      </th>
      <th class = "<%= highlight_column('rating', :header) %>">
        <%= link_to 'Rating', movies_path(sort: 'rating', direction: toggle_sort_direction('rating')), data: { turbo: false } %>
        <% if session[:sort] == 'rating' %>
        <span class="visually-hidden">
          <%= session[:direction] == 'asc' ? ' sorted ascending' : ' sorted descending' %>
        </span>
      <% end %>
      </th>
      <th class = "<%= highlight_column('release_date', :header) %>">
        <%= link_to 'Release Date', movies_path(sort: 'release_date', direction: toggle_sort_direction('release_date')), data: { turbo: false } %>
        <% if session[:sort] == 'release_date' %>
        <span class="visually-hidden">
          <%= session[:direction] == 'asc' ? ' sorted ascending' : ' sorted descending' %>
        </span>
      <% end %>
      </th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td class = "<%= highlight_column('title', :data) %> movie-title-column">
          <%= movie.title %>
        </td>
        <td class = "<%= highlight_column('rating', :data) %>">
          <%= movie.rating %>
        </td>
        <td class = "<%= highlight_column('release_date', :data) %>">
          <%= movie.release_date.strftime("%d-%b-%Y") %>
        </td>
        <td>
          <%= link_to "Show this movie", movie %>
        </td>
      </tr>
    <% end %>
  </tbody>
  
  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to 'New Movie', new_movie_path %>
      </td>
    </tr>
  </tfoot>
</table>
